{% extends "base.html" %}

{% block title %}Add Staff{% endblock %}

{% block body %}
    <form action="/staff/add" method="post">
        <div class="mb-3"><input autocomplete="off" class="form-control" name="firstname" placeholder="First Name" type="text"></div>
        <div class="mb-3"><input autocomplete="off" class="form-control" name="middlename" placeholder="Middle Name" type="text"></div>
        <div class="mb-3"><input autocomplete="off" class="form-control" name="surname" placeholder="Surname" type="text"></div>
        <div class="mb-3"><input class="form-control" name="birthdate" type="date"></div>
        <div class="mb-3"><input autocomplete="off" class="form-control" name="job_title" placeholder="Job Title" type="text"></div>
        <div class="mb-3"><button class="btn btn-primary" type="submit">Add Staff</button></div>
    </form>
{% endblock %}