{% extends "base.html" %}

{% block title %}Add Sudent{% endblock %}

{% block body %}
    <form action="/students/add" method="post">
        <div class="mb-3"><input autocomplete="off" autofocus class="form-control" name="admission_no" min="0" placeholder="Admission Number" type="number"></div>
        <div class="mb-3"><input autocomplete="off" class="form-control" name="firstname" placeholder="First Name" type="text"></div>
        <div class="mb-3"><input autocomplete="off" class="form-control" name="middlename" placeholder="Middle Name" type="text"></div>
        <div class="mb-3"><input autocomplete="off" class="form-control" name="surname" placeholder="Surname" type="text"></div>
        <div class="mb-3"><input class="form-control" name="birthdate" type="date"></div>
        <div class="mb-3">
            <select name="class" class="form-control">
                <option selected value="" disabled>Class</option>
                {% for class in classes %}
                    <option value="{{class}}">{{class}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Add Student</button>
    </form>
{% endblock %}