{% extends "base.html" %}

{% block title %}Add Staff{% endblock %}

{% block body %}
    <form action="/staff/add" method="post">
        <input autocomplete="off" class="form-control" name="firstname" placeholder="First Name" type="text">
        <input autocomplete="off" class="form-control" name="middlename" placeholder="Middle Name" type="text">
        <input autocomplete="off" class="form-control" name="surname" placeholder="Surname" type="text">
        <input class="form-control" name="birthdate" type="date">
        <input autocomplete="off" class="form-control" name="job_title" placeholder="Job Title" type="text">
        <button class="btn btn-primary" type="submit">Add Staff</button>
    </form>
{% endblock %}