{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center list-group">
        <a class="list-group-item list-group-item-active" href="/students">Manage Students</a>
        <a class="list-group-item list-group-item-active" href="/staff">Manage Staff</a>
        <a class="list-group-item list-group-item-active" href="/users">Manage Users</a>
        <a class="list-group-item list-group-item-active" href="/reports">View Reports</a>
    </div>
{% endblock %}