{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {% if users|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Surname</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user["first_name"]}}</td>
                    <td>{{user["middle_name"]}}</td>
                    <td>{{user["surname"]}}</td>
                    <td>{{roles[user["user_role"]]}}</td>
                    <td>
                        <form action="{{action}}" method="post">
                            <button class="btn btn-danger" name="id" value="{{user['id']}}" type="submit">{{title}}</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="alert alert-secondary" role="alert">No users</p>
    {% endif %}
{% endblock %}