{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <form action="{{action}}" method="post">
        <div class="mb-3"><input autocomplete="off" class="form-control" name="first_name" placeholder="First Name" type="text"></div>
        <div class="mb-3"><input autocomplete="off" class="form-control" name="middle_name" placeholder="Middle Name" type="text"></div>
        <div class="mb-3"><input autocomplete="off" class="form-control" name="surname" placeholder="Surname" type="text"></div>
        <div class="mb-3"><input class="form-control" name="birthdate" type="date"></div>
        <div class="mb-3"><input autocomplete="off" class="form-control" name="job_title" placeholder="Job Title" type="text"></div>
        <div class="mb-3"><button class="btn btn-primary" type="submit">Search</button></div>
    </form>
{% endblock %}