{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <form action="{{action}}" method="post">
        <div class="mb-3"><input autocomplete="off" autofocus class="form-control" name="admission_no" min="0" placeholder="Addmission Number" type="number"></div>
        <div class="mb-3"><input autocomplete="off" class="form-control" name="first_name" placeholder="First Name" type="text"></div>
        <div class="mb-3"><input autocomplete="off" class="form-control" name="middle_name" placeholder="Middle Name" type="text"></div>
        <div class="mb-3"><input autocomplete="off" class="form-control" name="surname" placeholder="Surname" type="text"></div>
        <div class="mb-3"><input class="form-control" name="birthdate" type="date"></div>
        <div class="mb-3">
            <select name="class" class="form-control">
                <option selected value="" disabled>Class</option>
                {% for class in classes %}
                    <option value="{{class}}">{{class}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
{% endblock %}